* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header {
  padding: 20px 40px;
  margin-bottom: 30px;
}

.logoContainer {
  width: 20%;
}

.logo h1 {
  max-width: 150px;
  width: 100%;
  height: 50px;
  background-image: url(./img/Logo.png);
  background-repeat: no-repeat;
  background-size: cover;
  text-indent: -999999px;
}

.logo h1 a {
  width: 150px;
  height: 50px;
  display: block;
  padding: 10px 14px;
}

.textContainer {
  width: 80%;
  height: 50px;
}
.textContainer nav {
  width: 80%;
}
.textContainer ul li {
  font-size: 1rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-transform: uppercase;
}
.textContainer ul a,
.arrow a {
  color: #000;
  padding: 10px 14px;
}
.textContainer ul a:hover,
.searchResults h4:hover,
.teamMembers:hover,
.accordionContent:hover,
.mainAccordionContainer h2:hover,
.footerContainer a:hover,
.footerContainer p:hover {
  color: #caa892;
}
.signUp {
  max-width: 100px;
  width: 100%;
  height: 32px;
  background-color: #caa892;
  border: none;
  border-radius: 15px 0 15px 0;
  color: #ffffff;
  cursor: pointer;
  font-size: 1.2rem;
}
.signUp a {
  color: #ffffff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.signUpText,
.footerContainer h3 i {
  display: none;
}

/* Burgerbar კოდები */
.burgerbar-container {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 30px;
  height: 30px;
  display: none;
}

.line {
  width: 80%;
  height: 2px;
  background-color: #998e8e;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.one {
  top: 30%;
}

.three {
  top: 70%;
}

.active .one {
  top: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
      -ms-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}

.active .two {
  display: none;
}

.active .three {
  top: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
      -ms-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}

.navigation.navactive {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: block;
  text-align: center;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.navigation.navactive .textContainer {
  margin-bottom: 100px;
}
.navigation.navactive li {
  margin-top: 30px;
  font-size: 1.8rem;
}
main.disable,
footer.disable {
  display: none;
}

/* main სექცია კოდები */
.interiorDesignWrapper,
.secondInteriorDesignWrapper {
  padding: 10px;
  margin: 80px 0;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.interiorDesignText,
.secondInteriorDesignText {
  max-width: 600px;
  width: 100%;
  height: 400px;
}

.interiorDesignText p:nth-child(1),
.secondInteriorDesignText p:nth-child(1) {
  font-size: 1.25rem;
  color: #646464;
  margin-bottom: 12px;
}
.interiorDesignText p:nth-child(2),
.secondInteriorDesignText p:nth-child(2) {
  font-size: 4.5rem;
  color: #212121;
  margin-bottom: 20px;
}
.interiorDesignText p:nth-child(3),
.secondInteriorDesignText p:nth-child(3) {
  font-size: 1.1rem;
  color: #646464;
  margin-bottom: 30px;
}

.contact,
.learnmore {
  max-width: 140px;
  width: 100%;
  height: 40px;
  background-color: #37806b;
  border: none;
  border-radius: 15px 0 15px 0;
  color: #ffffff;
  cursor: pointer;
  font-size: 1.2rem;
}

.interiorDesignPhotoContainer,
.secondInteriorDesignPhotoContainer {
  max-width: 720px;
  width: 100%;
  height: 600px;
  border-radius: 140px 0px;
  background-image: url(./img/InteriorPhoto.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.ourServicesMainWrapper {
  padding-left: 140px;
}
.ourServicesText p:nth-child(1) {
  font-size: 1.2rem;
  color: #646464;
  margin-bottom: 16px;
}
.ourServicesText p:nth-child(2) {
  font-size: 3rem;
  color: #212121;
}
.ourServicesWraper {
  padding: 30px;
  margin-bottom: 100px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.serviceWraper {
  max-width: 300px;
  width: 100%;
  height: 150px;
  border-radius: 60px 0;
  background-color: #f5f5f5;
  padding: 20px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.serviceWraper:hover,
.clientReviewContainer:hover,
.backtoTop:hover {
  background-color: #caa892;
}

.serviceWraper p {
  font-size: 1.5rem;
}
.interiorDesignPhoto,
.ArchitectureDesignPhoto,
.PlanningDesignPhoto {
  width: 64px;
  height: 64px;
  background-repeat: no-repeat;
  background-position: cover;
}
.interiorDesignPhoto {
  background-image: url(./img/interior-design.png);
}
.ArchitectureDesignPhoto {
  background-image: url(./img/Architecture.png);
}
.PlanningDesignPhoto {
  background-image: url(./img/Planning.png);
}

.secondInteriorDesignPhotoContainer {
  background-image: url(./img/InteriorPhoto2.png);
}

.contentHeader {
  padding: 30px 30px;
}

.contentHeader input {
  background-color: #fbfbfb;
  border: 0;
  border-radius: 50px;
  color: #000;
  font-size: 14px;
  padding: 10px 10px 8px;
  width: 20%;
}

.contentHeader input:focus,
.signupInputWrapper input {
  outline: none;
  border: 1px solid #caa892;
}

.contentTitle {
  margin-bottom: 20px;
}

.searchResults li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
  border-top: 1px solid #caa892;
  margin-top: 10px;
  cursor: pointer;
}

.searchResults img {
  border-radius: 10px;
}

.searchResults .members-info,
.searchResults {
  margin-left: 10px;
}
.searchResults h4 {
  font-size: 24px;
  margin-left: 10px;
}
.searchResults h4:hover,
.teamMembers:hover {
  color: #caa892;
}
.searchResults li.hide {
  display: none;
}

.teamMembers,
.clientReview {
  margin-top: 70px;
}
.teamMembers,
.clientReview p {
  text-align: center;
  font-size: 48px;
  color: #212121;
}

.clientReviewContainer {
  max-width: 630px;
  width: 100%;
  height: 230px;
  background-color: #f5f5f5;
  border-radius: 70px 0px;
  position: relative;
  padding: 30px;
  margin: 30px auto;
}

.clientReviewImage {
  width: 130px;
  height: 160px;
  position: absolute;
  bottom: 50px;
  left: -60px;
}

.clientReviewImage img {
  border-radius: 10px;
}

.clientReviewText {
  width: 70%;
  margin-left: 10%;
}
.clientReviewText p {
  width: 100%;
  text-align: justify;
  margin-bottom: 10px;
}

.clientReviewText p:nth-child(1),
.clientReviewText p:nth-child(2) {
  font-size: 24px;
  font-weight: bold;
}
.clientReviewText p:nth-child(3) {
  font-size: 20px;
}

.backtoTop {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 10px;
  position: fixed;
  z-index: 1;
  bottom: 20px;
  left: 20px;
  cursor: pointer;
}

.backtoTop p {
  font-size: 28px;
  text-align: center;
}

.mainAccordionContainer {
  margin: 70px auto;
  font-family: Monospace;
}
.mainAccordionContainer .questions {
  text-align: center;
}
.mainAccordionContainer h2 {
  font-size: 28px;
  text-align: left;
  margin-bottom: 30px;
  color: #212121;
}
.mainAccordionContainer h2:hover {
  border: 2px solid #caa892;
  border-radius: 10px;
}

.accordionLabel {
  margin: 0 20px;
  position: relative;
  cursor: pointer;
}

.accordionLabel::before {
  content: "+";
  position: absolute;
  top: 50%;
  right: 30px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 30px;
}

.accordionContent {
  width: 100%;
  display: none;
  font-size: 18px;
  color: #212121;
  padding: 0px 20px;
}
.accordionContainer.active .accordionContent,
.footerContainer.footeractive p {
  display: block;
}
.accordionContainer.active .accordionLabel::before {
  content: "-";
}

.signupWrapper {
  margin: 30px auto;
}
.signupText h3,
.signupText p {
  text-align: center;
  margin-bottom: 40px;
}

.signupText h3 {
  font-size: 48px;
  position: relative;
}

.signupInputWrapper {
  max-width: 700px;
  width: 100%;
  height: 30px;
  margin: 30px auto;
}

.signupText h3::before {
  content: " ";
  position: absolute;
  bottom: -20px;
  left: 50%;
  -webkit-transform: translate(-50%);
      -ms-transform: translate(-50%);
          transform: translate(-50%);
  width: 400px;
  height: 1px;
  background-color: #caa892;
}

.signupInputWrapper input {
  width: 80%;
  height: 100%;
  border-radius: 10px;
  text-align: center;
  border: 1px solid #caa892;
}
.subscribe {
  width: 20%;
  height: 100%;
  background-color: #37806b;
  border: none;
  border-radius: 0 0 20px 0;
  color: #ffffff;
  cursor: pointer;
}

.splide__slide {
  width: 100%;
  height: 800px;
}
.splide__slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.cookie-wrapper {
  position: fixed;
  z-index: 2;
  width: 100%;
  bottom: -100%;
  left: 0;
  background-color: #caa892;
  color: #ffffff;
  padding: 10px 30px;
  -webkit-transition: 500ms;
  -o-transition: 500ms;
  transition: 500ms;
}
.cookie-wrapper.active {
  bottom: 0;
}
.cookie-wrapper p {
  font-size: 20px;
  margin: 20px 0px;
}
.cookie-wrapper a {
  color: #ffffff;
}

.cookiebtn {
  width: 50px;
  height: 50px;
  background-color: #37806b;
  color: #ffffff;
  padding: 25px 50px;
  font-size: 20px;
  border-radius: 8px;
  cursor: pointer;
  vertical-align: middle;
  text-align: center;
  display: table-cell;
}

footer {
  padding: 40px 80px;
}

.footerlogo {
  width: 150px;
  height: 50px;
  background-image: url(./img/Logo.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.footerContainer {
  width: 180px;
  height: 250px;
}

.footerContainer h3 {
  font-size: 28px;
  margin-bottom: 30px;
  cursor: pointer;
}

.footerContainer p {
  font-size: 18px;
  margin-bottom: 20px;
  cursor: pointer;
}
.footerContainer a {
  color: #000;
}

.social p {
  font-size: 30px;
}
.footerContainer.footeractive {
  height: 200px;
}

/* signup.html კოდები */
.error-text {
  display: block;
  color: #ff0000;
}
#text {
  display: block;
}

.formcontainer {
  width: 400px;
  height: 500px;
  margin: 30px auto;
  border-radius: 10px;
}

.formcontainer input {
  padding: 10px 14px;
  width: 100%;
  border-radius: 10px;
  margin-bottom: 20px;
  border: none;
  border-bottom: 2px solid #afe1af;
}
input[type="radio"],
input[type="checkbox"] {
  width: 10%;
}

.passwordText {
  display: inline-block;
  margin-bottom: 20px;
  font-weight: bold;
}

.formcontainer button {
  margin-top: 20px;
  width: 100%;
  height: 30px;
  border-radius: 10px;
  border: 1px solid #afe1af;
  font-weight: bold;
}

.formcontainer button:hover {
  background-color: #afe1af;
}

.arrow {
  text-align: center;
  font-size: 2rem;
}

@media (max-width: 1024px) {
  header {
    padding: 20px 10px;
  }
  .textContainer {
    margin-left: 0px;
  }
  .navigation li a {
    font-size: 14px;
  }
  .signUp {
    width: 70px;
  }
  .interiorDesignWrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .secondInteriorDesignWrapper,
  .ourServicesWraper,
  footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .interiorDesignPhotoContainer,
  .secondInteriorDesignPhotoContainer {
    margin-bottom: 40px;
  }
  .ourServicesText p {
    text-align: center;
  }

  .serviceWraper {
    margin-top: 30px;
    max-width: 500px;
    width: 100%;
  }
  .footerlogo {
    margin-bottom: 40px;
  }
  .footerContainer {
    height: 40px;
    margin-bottom: 30px;
  }
  .footerContainer h3 i {
    display: inline-block;
  }
  .footerContainer p {
    display: none;
  }
}
@media (max-width: 768px) {
  .logo h1 {
    width: 200px;
  }
  .burgerbar-container,
  .signUpText {
    display: block;
  }
  .navigation,
  .signUp {
    display: none;
  }
  .navigation li a {
    font-size: 28px;
  }
  .textContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .contentHeader input {
    width: 40%;
  }
  .ourServicesMainWrapper {
    margin-top: 120px;
  }
  .splide {
    margin-top: 200px;
  }
  .clientReviewContainer {
    max-width: 350px;
    width: 100%;
    height: 400px;
  }
  .clientReviewImage {
    left: -30px;
    bottom: 90px;
  }
  .clientReviewText {
    margin-left: 80px;
  }
}

@media (max-width: 480px) {
  .logo h1 {
    width: 200px;
  }
  .burgerbar-container,
  .signUpText {
    display: block;
  }
  .navigation,
  .signUp {
    display: none;
  }

  .textContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .ourServicesMainWrapper {
    padding: 0;
  }
  .accordionLabel::before {
    right: 0px;
  }
.signupWrapper{
  width:100%;
}
.signupText h3::before{
  width:100%;
}
}
